<div class="row">
  <div class="small-12 columns">
    <section class="screen screen--new-entry">
    <header>
      <h1 class="title screen__title">Add a Notetato</h1>
    </header>
          <%= render 'form' %>
    </section>
  </div>
</div>
