<aside class="report-ad">
  <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" class="ad__emoticon">
  <p class="ad__emotion">Notetato 5</p>
  <%= link_to 'Sample a notetato 5 report', reports_path, class: "button radius button--weekly"  %>
</aside>

