<aside class="ad report-ad">
  <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" class="ad__emoticon">
  <p class="ad__copy">View a sample of <span class="reference--title">The Daily Notetato</span> report.</p>
  <%= link_to 'The Daily Notetato', reports_path, class: "button radius ad__button"  %>
</aside>

