<aside class="ad ad--report">
  <header>
    <h1 class="heading">Reflect and Refocus</h1>
  </header>

  <%= link_to 'View your Notetato 5', reports_path, class: "button radius ad__button"  %>
</aside>
