<aside class="report-ad">
  <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" class="ad__emoticon">
  <p class="ad__emotion">Happy Week</p>

<!--   FOR REPORT, NOT AD
  ARROW TYPES
  http://unicode-table.com/en/27AF/
  http://unicode-table.com/en/27AE/
  http://unicode-table.com/en/27AD/
  http://unicode-table.com/en/27AB/
  http://unicode-table.com/en/27AA/
  http://unicode-table.com/en/27A8/
  http://unicode-table.com/en/21E8/
  http://unicode-table.com/en/27A1/
  http://unicode-table.com/en/279C/

  <div class="emotion__shift">
    <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" class="ad__emoticon">
    <span class="arrow--right">&#10140;</span>
    <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" class="ad__emoticon">
  </div> -->
  <%= link_to 'View a sample notetato', root_path, class: "button radius button--weekly"  %>
</aside>

