<aside class="report-ad">
  <header>
    <h1 class="heading">Reflect and Refocus</h1>
    <p class="date-range">12/01&mdash;12/07</p>
  </header>
  <!-- If this user has any entries last week -->
    <!-- Display the avg of how do you feel TO how do you feel now -->
  <!-- END -->
  <%= link_to 'View your weekly notetato', root_path, class: "button radius button--weekly"  %>
</aside>
