<section class="notetatos">
  <header>
    <h1 class="heading">Weekly Notetato</h1>
    <p class="date-range">12/01&mdash;12/07</p>
  </header>
  <!-- If this user has any entries last week -->
    <!-- Display the avg of how do you feel TO how do you feel now -->
  <!-- END -->
  <p>Review, Reflect, and Refocus</p>
  <a href="" class="button radius button--weekly">View your weekly Notetato</a>
</section>
