<section class="screen screen--home">
  <div class="row">
    <div class="small-12 medium-12 large-7 columns">
        <%= render 'home/new_entry' %>
    </div>

    <% unless user_signed_in? %>
      <div class="small-12 medium-12 large-5 columns">
        <%= render 'home/report_sample_ad' %>
      </div>
    <% end %>

  </div>
</section>
