<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/notetato-logo-grey.png" class="app-logo">
    <h1>Let's work on this today!</h1>
    <p><strong><%= @focus %></strong></p>
    <p>Have a great day!</p>
    <p>Love,</p>
    <p><%= @url %></p>
  </body>
</html>
