/*COLORS*/
  Black: hsla(0, 0%, 0%, 1)
  Blue: hsla(201, 92%, 60%, 1)
  Gold: hsla(45, 100%, 50%, 1)
  Orange: hsla(16, 100%, 50%, 1);
  White: hsla(360, 100%, 100%, 1)
  Yellow: hsla(57, 100%, 50%, 1)
