/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

/* COLORS
  Black: hsla(0, 0%, 0%, 1)
  Blue: hsla(210, 100%, 50%, 1)
  Gold: hsla(45, 100%, 50%, 1)
  Moodless Myst: hsla(135, 19%, 59%, 1)
  White: hsla(360, 100%, 100%, 1)
*/

body {
  background: hsla(201, 92%, 60%, .85);
  color: hsla(0, 0%, 0%, 1);
}

.screen {
  margin: 2em 0 2em 0;
}

.title {
  color: hsla(0, 0%, 0%, .5);
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: .075rem;
  margin: 0 0 0 -1000rem;
}

.tagline {
  color: hsla(0, 0%, 20%, 1);
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: .125rem;
  margin-bottom: 1rem;
  position: relative;
  bottom: 2.65rem;
  text-transform: capitalize;
}


/*BUTTONS*/
.button--save {
  background: hsla(0, 0%, 0%, .65);
  color: hsla(360, 100%, 100%, .85);
  font-family: 'Lobster', serif;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: .195rem;
  margin-top: 2rem;
  text-transform: capitalize;
}
  .button--save:hover {
    background: hsla(0, 0%, 0%, 1);
    color: hsla(360, 100%, 100%, 1);
  }

/*FORMS*/

.form__question {
  color: hsla(0, 0%, 0%, .85);
  font-family: 'Varela Round', sans-serif;
  font-size: 2.25rem;
  font-weight: 800;
  letter-spacing: .025rem;
}

  .form__question:after {
    content: "?";
  }

.form__text-area {
  border: transparent;
  height: 7rem;
}

  .form__text-area:focus {
    border-left: 1.65rem solid hsla(45, 100%, 50%, 1);
  }

/* IMAGES */
.app-logo {
  margin: 0;
  position: relative;
  bottom: 2rem;
  width: 20rem;
}

/* LINKS */
.login-state {
  border-bottom: .15rem solid hsla(0, 0%, 0%, .25);
  color: hsla(0, 0%, 0%, .65);
  display: inline-block;
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: lowercase;
}

  .login-state:hover {
    color: hsla(360, 100%, 100%, 1);
  }

/* FOUNDATION OVERRIDES */
