/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

html, body {
  height: initial;
  background: hsla(201, 92%, 60%, 1);
  /*background: hsla(360, 100%, 100%, 1);*/
  color: hsla(0, 0%, 0%, 1);
}

body {
}

footer {
  border-top: 1px dotted hsla(0, 0%, 0%, .25);
  margin: 5rem 0;
  padding: 3rem 0;
}

.center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.feedback__button {
  position: absolute;
  right: 0;
  bottom: -2rem;
  width: 10rem;
}

.button--feedback {
  background: hsla(45, 100%, 50%, .75);
  color: hsla(0, 0%, 0%, 1);
  letter-spacing: .075rem;
  font-family: 'Varela Round', sans-serif;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

  .button--feedback:hover {
    background: hsla(45, 100%, 50%, 1);
    color: hsla(0, 0%, 0%, 1);
  }

/*************************************************************/
/* NAVIGATION */
/*************************************************************/
.navigation {
  background: transparent;
  /*background: hsla(0, 0%, 0%, 1);*/
  /*background: hsla(16, 100%, 50%, 1);*/
  margin: 0;
}
  .navigation__items {
    list-style: none;
  }
    .navigation__item {
      background: hsla(360, 100%, 100%, .5);
      border: 1px solid hsla(360, 100%, 100%, .5);
      border-radius: 3rem 3rem 0 0;
      display: inline-block;
      margin: 1rem 0 0 0;
      padding: 1rem 1.5rem 0 1.5rem;
      text-align: center;
    }
      .navigation__item:hover {
        background: hsla(360, 100%, 100%, .75);
      }
      .navigation__item--active {
        background: hsla(360, 100%, 100%, 1);
      }
      .navigation__item--active:hover {
        background: hsla(360, 100%, 100%, 1);
      }
      .navigation__item__link {
        color: hsla(0, 0%, 0%, .5);
        font-family: 'Varela Round', sans-serif;
        font-size: 1rem;
        text-transform: uppercase;
      }
        .navigation__item__link:hover {
          color: hsla(16, 100%, 50%, 1);
        }
        .navigation__item__link:active {
          color: hsla(16, 100%, 50%, 1);
        }
          .navigation__item__link--active {
            color: hsla(16, 100%, 50%, 1);
          }

/*************************************************************/
/* TEXT */
/*************************************************************/
.lowercase {
  text-transform: lowercase;
}
.title {
  color: hsla(0, 0%, 0%, .5);
  font-family: 'Varela Round', sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  letter-spacing: .075rem;
  margin: 0 0 0 -1000rem;
  text-transform: uppercase;
}

.screen__title {
  color: hsla(0, 0%, 0%, 1);
  font-size: 1.85rem;
  margin: 0;
  text-align: center;
}

.title--section {
  color: hsla(0, 0%, 0%, 1);
  font-size: 2rem;
  margin: 0;
}

.reference--title {
  font-style: italic;
}

.value-statement {
  background: hsla(360, 100%, 100%, 1);
  color: hsla(16, 100%, 50%, 1);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.65rem;
  margin: -2rem auto 0 auto;
  padding: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.feedback-code {
  font-size: 1.25rem;
  margin: 1rem 0;
}
  .feedback-code__label{
    color: hsla(0, 100%, 50%, .65);
    font-weight: 600;
  }

/*****************************************/
/* TEXT - NOTIFICATIONS */
/*****************************************/
.message {
  background: hsla(360, 100%, 100%, 1);
  color: hsla(16, 100%, 50%, 1);
  font-size: 1.45rem;
  padding: 1rem;
  width: 100%;
}
  .message--alert { color: hsla(1, 100%, 40%, 1); }
  .message--success { color: hsla(116, 100%, 30%, 1); }
  .message--warning { color: hsla(45, 100%, 50%, 1); }



/*************************************************************/
/* ADS */
/*************************************************************/
.ad {
  background: hsla(201, 92%, 60%, .25);
  border-radius: .85rem;
  padding: 2rem;
}

.ad__title {
  color: hsla(16, 100%, 50%, 1);
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
  text-align: center;
}

.ad__emoticon {
  display: block;
  margin: 0 auto;
  width: 12rem;
}

.ad__copy {
  font-size: 1.25rem;
  text-align: center;
}

.ad__button {
  background: hsla(16, 100%, 50%, .75);
  font-size: .85rem;
  letter-spacing: .065rem;
  margin: 1rem auto;
  text-transform: uppercase;
}
  .ad__button:hover { background: hsla(16, 100%, 50%, 1);}


/*************************************************************/
/* ANIMATIONS */
/*************************************************************/
.fade-out {
    -webkit-animation-name: byebye;
    animation-name: byebye;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

@keyframes byebye {
        0% {opacity: 1;}
      100% {opacity: 0;
            visibility:hidden;
            margin-top: -65px;
            }
}
@-webkit-keyframes byebye {
        0% {opacity: 1;}
      100% {opacity: 0;
            visibility:hidden;
            margin-top: -65px;
           }
}


@-webkit-keyframes tada {
    0% {-webkit-transform: scale(1);}
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
    100% {-webkit-transform: scale(1) rotate(-7deg);}
}
@keyframes tada {
    0% {transform: scale(1);}
    10%, 20% {transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
    100% {transform: scale(1) rotate(-7deg);}
}


/*************************************************************/
/* FORMS */
/*************************************************************/
.form--authentication__header {
  background: hsla(360, 100%, 100%, .65);
  border-radius: 1rem 1rem 0 0;
  padding: 2rem 2rem 0 2rem;
  margin: 0;
}

.form--authentication {
  background: hsla(360, 100%, 100%, .65);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 2rem;
}

.new-entry__form .field {
  border-top: 2px dotted hsla(0, 0%, 93%, 1);
  padding: 2rem 0rem;
}

.form__question, .form__label {
  color: hsla(0, 0%, 0%, .85);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.45rem;
  font-weight: 800;
  letter-spacing: .025rem;
  margin-bottom: 1rem;
}

  .form__label:after { content: ":"; }
  .form__question:after { content: "?"; }
  .form__question--remember { font-size: 1.25rem; }
  .form__label--remember { width: 5rem; }
  .form__field--text-area { height: 7rem; }

  .form__button {
    background: hsla(0, 0%, 0%, .65);
    color: hsla(360, 100%, 100%, .85);
    font-family: 'Lobster', serif;
    font-size: 2rem;
    font-style: italic;
    letter-spacing: .195rem;
    margin-top: 2rem;
    text-transform: capitalize;
    width: 100%;
  }
  .form__button:hover {
    background: hsla(0, 0%, 0%, 1);
    color: hsla(360, 100%, 100%, 1);
  }

/*****************************************/
/* FORM - ENTRY EMOTION OPTIONS */
/*****************************************/
.option--feeling {
  display: inline-block;
}
  .option--feeling__emoticon {
    width: 4.85rem;
    transition: all 0.2s ease;
  }
  .option--feeling__emotion {
    text-align: center;
    text-transform: uppercase;
  }

label.option--feeling > input[type=radio],
label.option--feeling > .field_with_errors > input[type=radio] { /* HIDE RADIO */
  display: none;
}

label.option--feeling > input[type=radio] + .feeling,
label.option--feeling > .feeling  {  /*IMAGE STYLES*/
  cursor:pointer;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-radius: 1rem;
  padding: .45rem;
}

label.option--feeling > input[type=radio] + .feeling:hover,
label.option--feeling > .feeling:hover { /*HOVER IMAGE STYLES */
  background: hsla(0, 0%, 93%, 1);
  transition: all 0.2s ease;
}

label.option--feeling > input[type=radio]:checked + .feeling,
label.option--feeling > .feeling:active { /* (CHECKED) IMAGE STYLES */
  background: hsla(57, 100%, 50%, .85);
}


label.option--feeling > input[type=radio]:checked + .feeling > .option--feeling__emoticon{ /* (CHECKED) IMAGE STYLES */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: tada;
  animation-name: tada;
}


/*************************************************************/
/* IMAGES */
/*************************************************************/
.app-logo {
  margin: 0;
  position: relative;
  bottom: 2rem;
  width: 20rem;
}

figure.feeling {
  display: inline-block;
  margin: .25rem;
}


/*************************************************************/
/* LINKS */
/*************************************************************/
.login-state {
  margin-right: 1rem;
  position: absolute;
  top: 0 ;
  right: 0;
}
  .login-state__message {
    border-bottom: .15rem solid hsla(0, 0%, 0%, .25);
    color: hsla(0, 0%, 0%, .65);
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0 .5rem 0 .5rem;
    text-transform: lowercase;
  }
    .login-state__message--sign-up {
      border-bottom: .15rem solid hsla(57, 100%, 50%, 1);
      color: hsla(57, 100%, 50%, 1);
    }
    .login-state__message:hover {
      border-bottom: .15rem solid hsla(360, 100%, 100%, 1);
      color: hsla(360, 100%, 100%, 1);
    }

/*************************************************************/
/* REPORT */
/*************************************************************/
.report__title {
  /*border-bottom: 1px solid hsla(0, 0%, 0%, .5);*/
  /*border-top: 4px solid hsla(0, 0%, 0%, 1);*/
  color: hsla(0, 0%, 0%, 1);
  margin: 0;
  padding: .25rem 0;
  text-align: center;
}

.report__title__emoticon-container {
  background: hsla(0, 0%, 93%, .25);
  border-radius: 5rem;
  color: hsla(16, 100%, 50%, 1);
  display: inline-block;
  height: 4.65rem;
  padding: .65rem 0;
  text-align: center;
  width: 4.65rem;
}

.report__title__emoticon {
  display: inline-block;
  margin: 0 auto;
  width: 3rem;
}

.report__focus, .report__mood, .report__action, .report__gratitude {
  background: hsla(360, 100%, 100%, .45);
  padding: 2rem;
  margin: 1rem 0;
}

.report__description {
  color: hsla(16, 100%, 50%, 1);
  font-family: 'Varela Round', sans-serif;
  font-size: .95rem;
  font-weight: bold;
  text-transform: uppercase;
}

.cards {
  list-style: none;
  margin: 1rem;
}
  .card {
    background: hsla(360, 100%, 100%, .85);
    padding: .65rem;
  }
    .card__content {
      font-size: 1.25rem;
      line-height: 1.5rem;
      margin: 0 0 1.5rem 0;
    }
    .card__date {
      color: hsla(16, 100%, 50%, 1);
      font-family: 'Varela Round', sans-serif;
      font-size: .85rem;
      font-weight: 800;
      text-transform: uppercase;
    }

/*****************************************/
/* FOCUS */
/*****************************************/
  .card--focus { padding: .5rem 0; }

/*****************************************/
/* MOOD */
/*****************************************/
.report__mood { border-radius: 2rem; }

.mood-shift {
  margin: 0 auto;
}

.mood-shift--report {
  width: 80%;
}

.mood-shift > .feeling { display: inline-block; }

.mood__emoticon {
  display: inline-block;
  margin: 0 auto;
  width: 5rem;
}

.arrow--right {
  color: hsla(16, 100%, 50%, 1);
  display: inline-block;
  font-size: 3rem;
  position: relative;
  text-align: center;
  top: -3rem;
}

.mood {
  text-align: center;
  text-transform: uppercase;
}

/*****************************************/
/* GRATITUDE */
/*****************************************/
.card--gratitude { padding: 1rem 3rem; }

/*****************************************/
/* ACTION */
/*****************************************/
.card--action { padding: 1rem 3rem; }
.card__content--solution { font-weight: 500; }


/*************************************************************/
/* SCREENS */
/*************************************************************/
.screen {
  background: hsla(360, 100%, 100%, 1);
  padding: 3rem;
  margin-bottom: 5rem;
}

  /* HOME */
  .screen--home { padding: 0 3rem 3rem 3rem; }

  /* ENTRY */
    /* ENTRY INDEX */
    .index-entry {
      padding: 1rem;
    }

    .index-entry__title {
      color: hsla(16, 100%, 50%, 1);
      font-size: 1.65rem;
      margin: 0;
      text-align: center;
    }

    .index-entry__mood-shift {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      padding: 2rem;
    }

      .index-entry__mood-shift__arrow--right {
        color: hsla(16, 100%, 50%, 1);
        font-size: 3rem;
      }
    .index-entry__excerpt {
      padding: 0 2rem;
      font-size: 1.25rem;
      font-style: italic;
      text-align: center;
    }
      .index-entry__excerpt:before {
        content: '\201C';
      }
      .index-entry__excerpt:after {
        content: '\201D';
      }

    .index-entry__button {
      background: hsla(0, 0%, 0%, .75);
      font-size: .85rem;
      letter-spacing: .065rem;
      margin: 1rem auto;
      text-transform: uppercase;
    }
    .index-entry__button:hover { background: hsla(0, 0%, 0%, 1);}

    /* ENTRY SHOW */
    .show-entry__menu__item {
      background: hsla(35, 100%, 50%, 1);
      color: hsla(360, 100%, 100%, 1);
      display: inline-block;
      letter-spacing: .15rem;
      text-transform: uppercase;
    }

      .show-entry__menu__item:hover {
        background: hsla(40, 100%, 50%, 1);
        color: hsla(360, 100%, 100%, 1);
      }

    .show-entry__date {
      color: hsla(16, 100%, 50%, 1);
      font-size: 1rem;
      font-weight: 600;
    }

    .show-entry__questions {
      padding: 0 5rem 5rem 5rem;
    }
    .show-entry__question {
      border-top: 1px dotted hsla(0, 0%, 0%, .25);
      color: hsla(0, 0%, 0%, .85);
      font-size: 1.25rem;
      font-weight: 600;
      letter-spacing: .025rem;
      line-height: 1.5rem;
      margin: 3rem 1rem 1rem 1rem;
      padding-top: 2rem;
    }

    .show-entry__question ~ figure {
      margin-left:  2rem;
    }

    .show-entry__answer {
      display:  inline-block;
      font-size: 1.25rem;
      font-weight: 300;
      margin: 1.5rem;
    }
      .show-entry__answer--none {
        color: hsla(0, 0%, 0%, .65);
        font-style: italic;
        text-transform: capitalize;
      }

    .show-entry__button--delete{
      background: hsla(0, 100%, 50%, 1);
      color: hsla(360, 100%, 100%, 1);
      display: inline-block;
      float: right;
      letter-spacing: .15rem;
      text-transform: uppercase;
      width: 20rem;
    }

      .show-entry__button--delete:hover {
        background: hsla(0, 100%, 40%, 1);
        color: hsla(360, 100%, 100%, 1);
      }

    /* ENTRY EDIT */
    .edit-entry__questions {
      padding: 0 5rem 5rem 5rem;
    }


/* FEEDBACK */
.feedback__iframe {
  height: 50rem;
  width: 100%;

}


/*************************************************************/
/* RAILS SELECTORS */
/*************************************************************/
/*****************************************/
/* ERRORS */
/*****************************************/
#error_explanation, #error_explanation h2 {
  color: hsla(0, 100%, 50%, 1);
}

.field_with_errors {
  display: inline;
}

.field_with_errors > label {
  color: hsla(0, 100%, 50%, 1);
}


/*************************************************************/
/* FOUNDATION OVERRIDES */
/*************************************************************/
h1, ul, p { margin-bottom: 0; }

input[type="email"], input[type="password"] {
  border: transparent;
  /*padding: 1.5rem;*/
  height: 3rem;
}

input[type="email"]:focus, input[type="password"]:focus  {
  border-left: 1.65rem solid hsla(45, 100%, 50%, 1);
}

.switch label { background: hsla(0, 0%, 0%, .65); }
.switch input:checked + label { background: hsla(45, 100%, 50%, 1); }

.button {
  display: block;
  padding: 1rem;
}


/*************************************************************/
/* MEDIA QUERIES */
/*************************************************************/

// Small screens
@media only screen {} /* Define mobile styles */

@media only screen and (max-width: 40em) {
  .app-logo {
    margin-bottom: 1rem;
    position: static;
  }

  .value-statement {
    font-size: 1.1rem;
    margin: 0 auto 0 auto;
    padding: 2rem 1rem;
  }

  .feedback-code {
    font-size: 1rem;
    margin: 1rem;
  }

  .feedback__iframe {
    height: 55rem;
  }

  .screen {
    padding: 0 0 3rem 0;
  }
    .screen--home { padding: 0 1.65rem 3rem 1.65rem; }
    .screen--index-entry { padding: 1rem; }
    .screen--new-entry { padding: 1rem; }
    .screen--show-entry { padding: 1rem; }
    .screen--edit-entry { padding: 1rem; }

      .show-entry__questions { padding: 0; }
      .edit-entry__questions { padding: 0; }

      .show-entry__button--delete{
        float: none;
        margin: 0 auto;
        width: 15rem;
      }

  .form__question, .form__label {
    font-size: 1.25rem;
  }

  .option--feeling__emoticon {
    width: 4rem;
  }

  .form__button {
      font-size: 1.25rem;
      margin-bottom:  5rem;
      margin-top: 0;
    }

  .screen__title {
    padding-top: 1rem;
  }

  .report__title, .screen__title {
    color: hsla(0, 0%, 0%, 1);
    font-size: 1.1rem;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
    .report__title__emoticon-container {
      height: 3rem;
      padding: .5rem 0;
      width: 3rem;
    }
    .report__title__emoticon {
      width: 2rem;
    }

  .report__focus, .report__mood, .report__action, .report__gratitude {
    padding: 1rem;
  }

  .report__description {
    font-size: .85rem;
    font-weight: normal;
  }

  .mood__emoticon {
    width: 4rem;
  }

  .mood {
    font-size: .8rem;
  }

  .arrow--right {
    font-size: 2.45rem;
    position: relative;
    text-align: center;
    top: -2rem;
  }


  .cards {
    margin: 0;
  }
  .card {
    background: hsla(360, 100%, 100%, .85);
    padding: .65rem;
  }
    .card__content {
      font-size: 1rem;
      margin: 0;
    }
    .card__date {
      color: hsla(16, 100%, 50%, 1);
      font-family: 'Varela Round', sans-serif;
      font-size: .85rem;
      font-weight: 800;
      text-transform: uppercase;
    }

.line-break {
  display: block;
}


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .app-logo {
    margin-bottom: 1rem;
  }

  .value-statement {
    font-size: 1.65rem;
    margin: 0 auto 0 auto;
  }

  .form__button {
      font-size: 1.65rem;
      margin-bottom:  5rem;
      margin-top: 0;
    }

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
