/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

/* COLORS
  Black: hsla(0, 0%, 0%, 1)
  Blue: hsla(201, 92%, 60%, 1)
  Gold: hsla(45, 100%, 50%, 1)
  Orange: hsla(16, 100%, 50%, 1);
  White: hsla(360, 100%, 100%, 1)
  Yellow: hsla(57, 100%, 50%, 1)
*/

body {
  background: hsla(201, 92%, 60%, .85);
  color: hsla(0, 0%, 0%, 1);
}

figure {
  margin: .65rem;
}

/*.container {
}
  .container__bar {

  }*/

.screen--new-entry {
  padding: 1em 0 2em 0;
}

.report-ad {
  background: hsla(360, 100%, 100%, .45);
  border-radius: .85rem;
  padding: 2rem;
}

/*BUTTONS*/
.form__button {
  background: hsla(0, 0%, 0%, .65);
  color: hsla(360, 100%, 100%, .85);
  font-family: 'Lobster', serif;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: .195rem;
  margin-top: 2rem;
  text-transform: capitalize;
  width: 100%;
}
  .form__button:hover {
    background: hsla(0, 0%, 0%, 1);
    color: hsla(360, 100%, 100%, 1);
  }

.button--weekly {
  background: hsla(16, 100%, 50%, .75);
  font-size: .85rem;
  letter-spacing: .065rem;
  margin: 1rem auto;
  text-transform: uppercase;
}
  .button--weekly:hover {
    background: hsla(16, 100%, 50%, 1);
  }

/*FORMS*/
.new-entry__form {
  padding: 0 1.65rem 0 1.65rem;
}

.form__header {
  background: hsla(360, 100%, 100%, .65);
  border-radius: 1rem 1rem 0 0;
  padding: 2rem 2rem 0 2rem;
  margin: 0;
}

.form__title {
  font-family: 'Varela Round', sans-serif;
  font-size: 2.65rem;
  font-weight: 800;
  text-transform: uppercase;
}

.form--login, .form--sign-up, .form--change-password {
  background: hsla(360, 100%, 100%, .65);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 2rem;
}

/*.field {

}*/

.new-entry__form .field {
  border-top: 2px solid hsla(201, 92%, 40%, .25);
  padding: 2rem 0rem;
}

.form__question, .form__label {
  color: hsla(0, 0%, 0%, .85);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.45rem;
  font-weight: 800;
  letter-spacing: .025rem;
  margin-bottom: 1rem;
}

  .form__label:after {
    content: ":";
  }
  .form__question:after {
    content: "?";
  }

  .form__question--remember {
    font-size: 1.25rem;
  }

  .form__label--remember {
    width: 5rem;
  }

.form__field {
  border: transparent;
}

  .form__field--text-area {
    height: 7rem;
  }

    .form__field--text-area:focus  {
      border-left: 1.65rem solid hsla(45, 100%, 50%, 1);
    }

.option--feeling {
  display: inline-block;
}

  .option--feeling__emoticon {
    width: 4.75rem;
    transition: all 0.2s ease;
  }

  .option--feeling__emotion {
    text-align: center;
    text-transform: uppercase;
  }

label > input{ /* HIDE RADIO */
  display:none;
}

label > input + figure { /* IMAGE STYLES */
  cursor:pointer;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-radius: 1rem;
  padding: .45rem;
}

label > input + figure:hover { /* (CHECKED) IMAGE STYLES */
/*  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;*/
  background: hsla(45, 100%, 50%, .65);
  transition: all 0.2s ease;
}

label > input:checked + figure { /* (CHECKED) IMAGE STYLES */
/*  border-bottom: 3px solid hsla(45, 100%, 50%, .65);
  border-left: 3px solid hsla(45, 100%, 50%, .65);*/
  /*background: hsla(45, 100%, 50%, .85);*/
  background: hsla(57, 100%, 50%, .85);
}

label > input:checked + figure > img { /* (CHECKED) IMAGE STYLES */
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: tada;
  animation-name: tada;
}


/* IMAGES */
.app-logo {
  margin: 0;
  position: relative;
  bottom: 2rem;
  width: 20rem;
}

.ad__emoticon {
  display: block;
  margin: 0 auto -1rem auto;
  width: 12rem;
}


/* LINKS */
.login-state {
  margin-right: 1rem;
  position: absolute;
  top: 0 ;
  right: 0;
}

  .login-state__message {
    border-bottom: .15rem solid hsla(0, 0%, 0%, .25);
    color: hsla(0, 0%, 0%, .65);
    display: inline-block;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0 .5rem 0 .5rem;
    text-transform: lowercase;
  }

    .login-state__message--sign-up {
      border-bottom: .15rem solid hsla(57, 100%, 50%, 1);
      color: hsla(57, 100%, 50%, 1);
    }

    .login-state__message:hover {
      border-bottom: .15rem solid hsla(360, 100%, 100%, 1);
      color: hsla(360, 100%, 100%, 1);
    }

/* TEXT */
.ad__emotion {
  text-align: center;
  font-size: 2.65rem;
}

.title {
  color: hsla(0, 0%, 0%, .5);
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: .075rem;
  margin: 0 0 0 -1000rem;
}

.value-statement {
  background: hsla(360, 100%, 100%, 1);
  border-radius: .65rem;
  color: hsla(16, 100%, 50%, 1);
  font-family: 'Varela Round', sans-serif;
  font-size: 1.65rem;
  margin: -2rem auto 0 auto;
  padding: .65rem;
  text-align: center;
  text-transform: capitalize;
}

.heading {
  color: hsla(0, 0%, 0%, 1);
  font-family: 'Varela Round', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: .025rem;
  margin: 0;
}

.date-range {
  font-size: 1.65rem;
}

.message {
  background: hsla(360, 100%, 100%, 1);
  color: hsla(16, 100%, 50%, 1);
  font-size: 1.45rem;
  padding: 1rem;
  width: 100%;
}

  .message--alert {
    color: hsla(1, 100%, 40%, 1);
  }

  .message--success {
    color: hsla(116, 100%, 30%, 1);
  }

  .message--warning {
    color: hsla(45, 100%, 50%, 1);
  }

/*.entry__prompt {
  color: hsla(0, 0%, 20%, 1);
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  font-style: italic;
  letter-spacing: .125rem;
  margin-bottom: 1rem;
  position: relative;
  bottom: 2.65rem;
  text-transform: capitalize;
}*/

/* ANIMATIONS */
@-webkit-keyframes tada {
    0% {-webkit-transform: scale(1);}
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
    100% {-webkit-transform: scale(1) rotate(-7deg);}
}
@keyframes tada {
    0% {transform: scale(1);}
    10%, 20% {transform: scale(0.9) rotate(-3deg);}
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
    100% {transform: scale(1) rotate(-7deg);}
}

/* FOUNDATION OVERRIDES */
h1, p {
  margin-bottom: 0;
}

input[type="email"], input[type="password"]  {
  border: transparent;
  padding: 1.5rem;
}

  input[type="email"]:focus, input[type="password"]:focus  {
  border-left: 1.65rem solid hsla(45, 100%, 50%, 1);
}

.switch label {
  background: hsla(0, 0%, 0%, .65);
}

.switch input:checked + label {
  background: hsla(45, 100%, 50%, 1);
}

.button {
  display: block;
}
