// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.report-ad {
  background: hsla(201, 92%, 60%, .25);
  border-radius: .85rem;
  padding: 2rem;
}

