 <header>
    <h1 class="title report__title">The Daily <span class="report__title__emoticon-container"><img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" alt="Feeling happy" class="report__title__emoticon"></span> Notetato</h1>
  </header>

  <div class="row">
    <div class="medium-7 large-7 columns">
      <section class="report__focus">
        <header>
          <h1 class="title title--section">Focus</h1>
          <p class="report__description">Work on what matters to you</p>
        </header>
        <ul class="cards">
          <li class="card card--focus">
            <h2 class="card__date">Today</h2>
            <p class="card__content">Declutter the dining room.</p>
          </li>
          <li class="card card--focus">
            <h2 class="card__date">Tomorrow</h2>
            <p class="card__content">Buy a stranger a cup of coffee.</p>
          </li>
        </ul>
      </section>
    </div>

    <div class="medium-5 large-5 columns">
      <section class="report__mood">
        <header>
          <h1 class="title title--section">Mood</h1>
          <p class="report__description">Your mood is getting better</p>
        </header>

        <div class="mood-shift--report">
          <figure class="feeling feeling--pleasant">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-pleasant.png" alt="Feeling Pleasant" class="mood__emoticon">
          <figcaption class="mood">Pleasant</figcaption>
        </figure>
          <span class="arrow--right">&#10157;</span>
          <figure class="feeling feeling--happy">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" alt="Feeling Happy" class="mood__emoticon">
          <figcaption class="mood">Happy</figcaption>
        </figure>
        </div>

      </section>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <section class="report__gratitude">
        <header>
          <h1 class="title title--section">Gratitude</h1>
          <p class="report__description">Recognize the good that happened this week</p>
        </header>
         <ul class="cards">
          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="card__date">Sun.</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude">I had a good meal with great friends.</p>
              </div>
            </div>
          </li>

          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="card__date">Sat.</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude">My mom called today and she sounds really happy.</p>
              </div>
            </div>
          </li>

          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="card__date">Fri.</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude">Today I had a chance to run by the lake; this city is beautiful.</p>
              </div>
            </div>
          </li>

          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="card__date">Thurs.</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude">After a long day, I got to spend a quiet and relaxing evening at home.</p>
              </div>
            </div>
          </li>

          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="card__date">Weds.</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude">On two seperate occassions today,  I helped people with their work. That always feels good.</p>
              </div>
            </div>
          </li>

        </ul>
      </section>
    </div>
  </div>

    </div>
  </div>
