<section class="screen--report">
  <header>
    <h1 class="title title--screen title--screen--report">The Notetato <span class="report__title__days">5</span> Report</h1>
  </header>

  <div class="row">
    <div class="large-7 columns">
      <section class="report__focus">
        <header>
          <h1 class="title title--section">Focus</h1>
        </header>
        <ul class="cards">
          <li class="card">
            <div class="row">
              <div class="large-2 columns">
                <span class="focus__date">12/07</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content">Declutter the dining room.</p>
              </div>
            </div>
          </li>
          <li class="card">
            <div class="row">
              <div class="large-2 columns">
                <span class="focus__date">12/06</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content">Be kind to three strangers.</p>
              </div>
            </div>
          </li>
          <li class="card">
            <div class="row">
              <div class="large-2 columns">
                <span class="focus__date">12/05</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content">Make all my meals for the day.</p>
              </div>
            </div>
          </li>
          <li class="card">
            <div class="row">
              <div class="large-2 columns">
                <span class="focus__date">12/04</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content">Go to bed early.</p>
              </div>
            </div>
          </li>
          <li class="card">
            <div class="row">
              <div class="large-2 columns">
                <span class="focus__date">12/03</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content">Do 20 minutes of exercise.</p>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>

    <div class="large-5 columns">
      <section class="report__mood">
        <header>
          <h1 class="title title--section">Mood</h1>
        </header>

        <p>Your mood is better in the last five days.</p>

        <div class="mood-shift">
          <figure class="feeling--pleasant">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-pleasant.png" alt="Feeling Pleasant" class="mood__emoticon">
          <figcaption class="mood">Pleasant</figcaption>
        </figure>
          <span class="arrow--right">&#10157;</span>
          <figure class="feeling--happy">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" alt="Feeling Happy" class="mood__emoticon">
          <figcaption class="mood">Happy</figcaption>
        </figure>
        </div>

      </section>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <section class="report__action">
        <header>
          <h1 class="title title--section">Action</h1>
        </header>
         <ul class="cards">
          <li class="card">
            <p class="card__content"><span class="action__date">12/07</span></p>
            <p class="card__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum pharetra neque id ultricies. Ut fringilla augue non purus congue aliquet. Duis tempor nisl felis, in hendrerit sapien vestibulum in. Nullam sit amet libero bibendum nulla tempor pharetra sed vitae leo. In a ullamcorper libero. Mauris sed nibh et enim porta tincidunt in non urna. Fusce vel pharetra mauris. Suspendisse elementum justo felis, eu luctus tortor pellentesque id. Nunc magna neque, luctus sed augue eu, molestie feugiat erat. Mauris efficitur quam ut leo semper fermentum. Morbi ut purus varius, fringilla lacus ac, venenatis odio. Ut tincidunt laoreet massa, nec posuere erat tempus vitae.</p>
            <p class="card__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum pharetra neque id ultricies. Ut fringilla augue non purus congue aliquet. Duis tempor nisl felis, in hendrerit sapien vestibulum in. Nullam sit amet libero bibendum nulla tempor pharetra sed vitae leo. In a ullamcorper libero. Mauris sed nibh et enim porta tincidunt in non urna. Fusce vel pharetra mauris. Suspendisse elementum justo felis, eu luctus tortor pellentesque id. Nunc magna neque, luctus sed augue eu, molestie feugiat erat. Mauris efficitur quam ut leo semper fermentum. Morbi ut purus varius, fringilla lacus ac, venenatis odio. Ut tincidunt laoreet massa, nec posuere erat tempus vitae.</p>
          </li>
        </ul>
      </section>
    </div>
  </div>

</section>
