<section class="screen--report">
  <header>
    <h1 class="title title--screen">The Notetato Report</h1>
  </header>

  <div class="row">
    <div class="large-7 columns">
      <section class="report__focus">
        <header>
          <h1 class="title title--section">Focus</h1>
        </header>
        <p>Find me in app/views/reports/index.html.erb</p>
      </section>
    </div>

    <div class="large-5 columns">
      <section class="report__mood">
        <header>
          <h1 class="title title--section">Mood</h1>
        </header>
        <p>Find me in app/views/reports/index.html.erb</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <section class="report__action">
        <header>
          <h1 class="title title--section">Action</h1>
        </header>
        <p>Find me in app/views/reports/index.html.erb</p>
      </section>
    </div>
  </div>

</section>
