<section class="screen--report">
  <header>
    <h1 class="title title--screen title--screen--report">The Notetato <span class="report__title__days">5</span> Report</h1>
  </header>

  <div class="row">
    <div class="medium-7 large-7 columns">
      <section class="report__focus">
        <header>
          <h1 class="title title--section">Focus</h1>
        </header>
        <ul class="cards">
          <li class="card card--focus">
            <div class="row">
              <div class="large-2 columns">
                <span class="focus__date">12/07</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content">Declutter the dining room.</p>
              </div>
            </div>
          </li>
          <li class="card card--focus">
            <div class="row">
              <div class="large-2 columns">
                <span class="focus__date">12/06</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content">Be kind to three strangers.</p>
              </div>
            </div>
          </li>
          <li class="card card--focus">
            <div class="row">
              <div class="large-2 columns">
                <span class="focus__date">12/05</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content">Make all my meals for the day.</p>
              </div>
            </div>
          </li>
          <li class="card card--focus">
            <div class="row">
              <div class="large-2 columns">
                <span class="focus__date">12/04</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content">Go to bed early.</p>
              </div>
            </div>
          </li>
          <li class="card card--focus">
            <div class="row">
              <div class="large-2 columns">
                <span class="focus__date">12/03</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content">Do 20 minutes of exercise.</p>
              </div>
            </div>
          </li>
        </ul>
      </section>
    </div>

    <div class="medium-5 large-5 columns">
      <section class="report__mood">
        <header>
          <h1 class="title title--section">Mood</h1>
        </header>

        <p>Your mood is better in the last five days.</p>

        <div class="mood-shift">
          <figure class="feeling--pleasant">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-pleasant.png" alt="Feeling Pleasant" class="mood__emoticon">
          <figcaption class="mood">Pleasant</figcaption>
        </figure>
          <span class="arrow--right">&#10157;</span>
          <figure class="feeling--happy">
            <img src="https://s3-us-west-2.amazonaws.com/notetato-static-media/emoticons/notetato-happy.png" alt="Feeling Happy" class="mood__emoticon">
          <figcaption class="mood">Happy</figcaption>
        </figure>
        </div>

      </section>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <section class="report__gratitude">
        <header>
          <h1 class="title title--section">Gratitude</h1>
        </header>
         <ul class="cards">
          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="gratitude__date">12/07</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude">I had a good meal with great friends.</p>
              </div>
            </div>
          </li>

          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="gratitude__date">12/06</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude">I talked to my mom today and she sounds happy.</p>
              </div>
            </div>
          </li>

          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="gratitude__date">12/05</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude">Today I had a chance to run around the lake and it felt peaceful.</p>
              </div>
            </div>
          </li>

          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="gratitude__date">12/04</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude">I spent a quiet and relaxing evening at home with my girlfriend and neither one of us had to work. We just watched TV, laughed, and talked. It was really nice.</p>
              </div>
            </div>
          </li>

          <li class="card card--gratitude">
            <div class="row">
              <div class="large-2 columns">
                <span class="gratitude__date">12/03</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--gratitude">Nothing bad happened today, that's always good.</p>
              </div>
            </div>
          </li>

        </ul>
      </section>
    </div>
  </div>

    <div class="row">
    <div class="large-12 columns">
      <section class="report__action">
        <header>
          <h1 class="title title--section">Action</h1>
        </header>
         <ul class="cards">
          <li class="card card--action">
            <div class="row">
              <div class="large-2 columns">
                <span class="action__date">12/07</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--solution">I'm going to wake up early tomorrow and go for a 30 minute run.</p>
                <p class="card__content">I didn't get a chance to workout today and It made me feel guilty, and kind of lazy.</p>
              </div>
            </div>
          </li>

          <li class="card card--action">
            <div class="row">
              <div class="large-2 columns">
                <span class="action__date">12/06</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--solution">I have to find time to make at least one of my meals everyday this week.</p>
                <p class="card__content ">I spent $70 today on take out.</p>
              </div>
            </div>
          </li>

          <li class="card card--action">
            <div class="row">
              <div class="large-2 columns">
                <span class="action__date">12/05</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--solution">I will stop over-committing my time so I have time for the important things.</p>
                <p class="card__content ">I didn't finish my weekly report on time.</p>
              </div>
            </div>
          </li>

          <li class="card card--action">
            <div class="row">
              <div class="large-2 columns">
                <span class="action__date">12/04</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--solution">I will pack my meal and snacks the night before so I don't get so hungry when I get busy at work. I'll also leave some healthy snacks in my desk. </p>
                <p class="card__content"> I ate a lot of junk food for lunch.</p>
              </div>
            </div>
          </li>

          <li class="card card--action">
            <div class="row">
              <div class="large-2 columns">
                <span class="action__date">12/03</span>
              </div>
              <div class="large-10 columns">
                <p class="card__content card__content--solution">I'll keep my delicate clothes separate and be more empathetic&mdash;she was just trying to help!</p>
                <p class="card__content"> I yelled at my mom for ruining my sweater in the wash.</p>
              </div>
            </div>
          </li>

        </ul>
      </section>
    </div>
  </div>

</section>
