<nav class="navigation">
  <ul class="navigation__items">
    <li class="navigation__item <%= 'navigation__item--active' if params[:controller] == 'reports' %>">
      <%= link_to "Report", reports_path, class: "navigation__item__link #{'navigation__item__link--active' if params[:controller] == 'reports'}"%>
    </li>
    <li class="navigation__item <%= 'navigation__item--active' if params[:controller] == 'moments' %>">
      <%= link_to "Notetatos", moments_path, class: "navigation__item__link #{'navigation__item__link--active' if params[:controller] == 'moments'}"%>
    </li>
  </ul>
</nav>
