<nav class="navigation">
  <ul class="navigation__items">
    <li class="navigation__item <%= active_navigation(reports_path) %>"><%= link_to "Reset", reports_path, class: "navigation__item__link #{active_navigation(reports_path)}"%></li>
    <li class="navigation__item <%= active_navigation(entries_path) %>"><%= link_to "Notetatos", entries_path, class: "navigation__item__link #{active_navigation(entries_path)}"%></li>
<!--     <li class="navigation__item"><%#= link_to "Settings", settings_path, class: "navigation__item__link"%></li> -->
  </ul>
</nav>
