<nav class="navigation">
  <ul class="navigation__items">
    <li class="navigation__item"><%= link_to "The Daily Notetato", reports_path, class: "navigation__item__link"%></li>
    <li class="navigation__item"><%= link_to "Notetatos", entries_path, class: "navigation__item__link"%></li>
<!--     <li class="navigation__item"><%#= link_to "Settings", settings_path, class: "navigation__item__link"%></li> -->
  </ul>
</nav>
