<% if user_signed_in? %>
  <p>
    Hello (link to profile) <%#= current_user.full_name %> <br />
    <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: "login-state" %>
  </p>

<% else %>
  <p><%= link_to 'Login', new_user_session_path, class: "login-state" %> <em>or</em> <%= link_to 'Sign-up', new_user_registration_path, class: "login-state login-state--sign-up" %></p>

<% end %>
