<% if user_signed_in? %>
  <p>Welcome (link to profile) <%= current_user.full_name %></p>
  <%= link_to "Not #{current_user.profile.first_name}? (sign out)", destroy_user_session_path, :method => :delete %>
<% else %>
  <p>You are not signed in.</p>
  <%= link_to 'Login', new_user_session_path %>
<% end %>
